.TriviaCard
  max-height 450px
  padding 10px 20px
  border-radius 5px
  box-shadow 0 2px 6px 0 gray

  .TriviaCard-question-title
    .TriviaCard-question-difficulty
      padding 2px 5px
      border-radius 10px
      font-weight 400
      color black

    .easy
      background rgba(0, 255, 0, .5)

    .medium
      background rgba(255, 255, 0, .5)

    .hard
      background rgba(255, 0, 0, .5)

  .TriviaCard-category, .TriviaCard-type
    margin 5px 0
    font-weight bold

    span
      font-weight normal

  .TriviaCard-answers-container 
    margin 10px 0

    .TriviaCard-answer
      margin 5px 0